{% extends 'base.html' %}

{% block title %}{{ election.name }} Election Details{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="mb-3">{{ election.name }} Election Details</h1>
        <div class="card">
            <div class="card-body">
                <p class="card-text">Status: {{ election.status }}</p>
                
                {% if user_vote %}
                    <p class="card-text">Your Vote Block Hash: {{ user_vote.block.hash_code }}</p>
                    <p class="card-text">Nonce: {{ user_vote.block.nonce }}</p>
                    <p class="card-text">Timestamp: {{ user_vote.block.timestamp }}</p>
                {% endif %}
                
                <h2 class="card-title">Candidates:</h2>
                <form method="post">
                    {% csrf_token %}
                    <ul class="list-group list-group-flush">
                        {% for candidate in candidates %}
                            <li class="list-group-item">
                                <div class="d-flex justify-content-between align-items-center">
                                    <strong>{{ candidate.name }}</strong>
                                    <img src="{{ candidate.image.url }}" alt="{{ candidate.name }}" width="100">
                                    {% if not user_vote %}
                                        <input type="radio" name="selected_candidate" value="{{ candidate.id }}">
                                    {% endif %}
                                </div>
                                <p>{{ candidate.description }}</p>
                            </li>
                        {% endfor %}
                    </ul>
                    {% if not user_vote %}
                        <button type="submit" class="btn btn-primary mt-3">Vote</button>
                    {% endif %}
                </form>
                
                {% if user_vote %}
                    <a href="{% url 'view_results' election_id=election.id %}" class="btn btn-link mt-3">View Election Results</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
